.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#signout{
  float: right;
  position: relative;
  color:white;
  background-color: #282c34;
}

#homepage{
  align-content: flex-end;
  position: relative;
  float:right;
}

.homemenu{
  align-content: center;
  
}

.col-md-6{
 position: relative;
 
}